<include file="Public/head" />

	<div class="doc main">
		<div class="typo typo-selection">
			<h1> {$title} </h1>
			<div class="ui divider"></div>
			<div class="um docbd"> {$content|htmlspecialchars_decode} </div>
		</div>
	</div>


<style>
body{ background:#efefef;}
.um.docpaget{ margin-top:20px;border:#d9dadc solid 1px; background:#fff; overflow:hidden;}
.um.sidebar{border-right:#d9dadc solid 1px;margin-bottom: -9999px;padding-bottom: 9999px;}
.typo p{ margin-bottom:0; line-height:1.8em;}
</style>
<include file="Public/foot" />