<include file="Public/head" />

	<div class="doc main">
		<volist name="catelist" id="vo">
			<div class="column">
				<div class="doc card">
					<h3>{$vo.catename}</h3>
					<div class="list">
						<php>$list = M("Document")->field(array("user_id","content"),true)->where("cate_id=$vo[cate_id]")->order("id desc")->limit(10)->select();</php>
						<volist name="list" id="r">
						<div class="item"><a class="link" href="{:U('Document/view',array('id'=>$r[id]))}">{$r.title}</a></div>
						</volist>
					</div>
				</div>
			</div>
		</volist>
	</div>

<include file="Public/foot" />