<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>优盟CMS帮助管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/Statics/css/home.css" rel="stylesheet">
<link href="http://apps.bdimg.com/libs/typo.css/2.0/typo.min.css" rel="stylesheet">
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
.um.logo { /*width:100px; background:url(/Statics/images/logo.png) no-repeat !important; background-size:50px 50px  !important;*/}
.um.logo img{ height:35px;}
.um.menu{ height:50px;}
.um.segment{ height:10rem; margin-top:50px;padding-top: 3.2rem; background:#f8f8f8;}
</style>
</head>
<body>
<div class="doc header">
	<div class="ui container">
	<div class="item um logo"><a href="/"><img src="/Statics/images/logo.png"></a></div>
	<div class="item">优盟帮助</div>
	</div>
</div>
<!-- <div class="ui segment um">
	<div class="ui container grid">
		<div class="three wide column"><h1>帮助与文档</h1></div>
		<div class="ten wide column">
			<div class="ui fluid action input">
			  <input type="text" placeholder="搜索优盟帮助文档...">
			  <div class="ui button blue">搜索</div>
			</div>
		</div>
	</div>
</div> -->
<div class="doc container">
	<div class="doc sider">
		<div class="doc cate">
			<volist name="catelist" id="vo">
			<div class="cate_item"><a class="item <if condition='$vo[cate_id] eq $cate_id'>active</if>" href="{:U('Document/dlist',array('id'=> $vo['cate_id']))}">{$vo['catename']}
			</a></div>
			</volist>
		</div>
	</div>